<?xml version="1.0"?>
<xml id="toolbox" style="display: none">
	<category name="Atelier lycée" id="demos" colour="#FFFF00" secondaryColour="#FFFF00">
		<button text="Simulation et moyenne" callbackKey="demo1" prog="../profs/raffinatp/python/simu1.xml" geo="../profs/raffinatp/python/geogebra.ggb">
<![CDATA[
- traduis ce programme de simulation en Python
- complète-le pour calculer la moyenne
]]>
		</button>
		<button text="Simulation et tableur" callbackKey="demo2" geo="../profs/raffinatp/python/tableur.ggb" prog="../profs/raffinatp/python/simu2.xml">
<![CDATA[
- traduis ce programme de simulation en Python
- mets les simulations dans la colonne A
]]>
		</button>
		<button text="Simulation et dé truqué" callbackKey="demo3" geo="../profs/raffinatp/python/tableur.ggb" prog="../profs/raffinatp/python/simu3.xml">
<![CDATA[
- traduis ce programme de simulation en Python
- mets les simulations dans la colonne A du tableur
]]>
		</button>
	</category>
	<category name="Seconde" id="seconde" colour="#FFFF00" secondaryColour="#FFFF00">
			<button text="Pair/Impair" callbackKey="seconde1" prog="exos/python/q1_prog.xml" geo="exos/python/geogebra.ggb">
<![CDATA[
- traduis les blocs en python (bouton Traduire)
- complète le code python pour dire si n est pair ou impair
]]>
			</button>
			<button text="Cercles concentriques" callbackKey="seconde2" prog="exos/python/q3_prog.xml" geo="exos/python/q3_geogebra.ggb">
<![CDATA[
- clique sur le bouton 'Réinitialiser'
- traduis les blocs en python
- complète le code python pour dessiner les 5 cercles
]]>
			</button>
	</category>
</xml>
